{% extends 'base.html' %}

{% block title %}
 О сайте
{% endblock %}

{% block body %}
    <div class="container my-md-5">
    <figure  class="text-center">
      <blockquote class="blockquote">
        <p>Отправь картинку, получи японский кроссворд </p>
          <p>Программа на Python и телеграмм-бот</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Кто владеет информацией <cite title="Source Title">владеет миром</cite>
      </figcaption>
      </figcaption>
    </figure>
     </div>
{% endblock %}
