{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
 <div>
    <h1>Список фотографий в базе данных:</h1>
    {% if not products %}
      No products yet
    {% else %}
        {% for product in products %}
          <div>
              <span class="badge rounded-top bg-success">{{ product.id }}</span>
              {{ product.name }}
          </div>
        {% endfor %}
    {% endif %}

  </div>
  <div>
    <a
      class="text-decoration-none"
      href="{{ url_for('products_app.add') }}">Add new product</a>
  </div>

    <figure class="text-center">
      <blockquote class="blockquote">
          <div class="container my-md-5">
             <p>Мир японских кроссвордов. Рисуй, фотографируй, конвертируй и разгадывай. </p>
          <div class="row">
            <div class="col border-0" >
                <span class="badge rounded-top bg-success">1</span>
             <img src="{{url_for('static', filename='img/img_001.png')}}" class="img-fluid" alt="...">
            </div>
            <div class="col">
                <span class="badge rounded-top bg-success">2</span>
             <img src="{{url_for('static', filename='img/img_004.png')}}" class="img-fluid" alt="...">
            </div>
              <div class="col">
                  <span class="badge rounded-top bg-success">3</span>
             <img src="{{url_for('static', filename='img/img_003.png')}}" class="img-fluid" alt="...">
            </div>
           </div>
          </div>
      </blockquote>
      <figcaption class="blockquote-footer">
        Кто владеет информацией <cite title="Source Title">владеет миром</cite>
      </figcaption>
    </figure>
{% endblock %}

