@import "styles.css";
/*https://www.tune-it.ru/web/leksa/blog/-/blogs/1996258*/

.wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #515151;
  margin: 1em 2em;
  float: left;
}

.exmp1 {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.exmp1 img {
  width: auto;
  height: 100%;
}

.exmp2 {
  display: flex;
  align-items: center;
}
.exmp2 img {
  width: 100%;
  height: auto;
}

.exmp3 {
  overflow: hidden;
}
.exmp3 img {
  width: auto;
  height: 200%;
  margin: -60px 0 0 -240px;
}

.exmp4 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exmp4 img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  flex-shrink: 0;
}

.exmp5 {
  background-image: url(http://www.tune-it.ru/documents/10136/1129663/ava.jpg/d27a9712-2cf7-4cc0-a421-89855a0d2342?t=1458567349689);
  background-repeat: no-repeat;
  background-position: -40px 0px;
  background-size: cover;
}

.exmp6 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}