{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Примеры </p>
          <div class="container">
          <div class="row">
            <div class="col">
             <img src="/img/img_001.png" class="img-fluid" alt="...">
            </div>
            <div class="col">
             <img src="/img/img_002.png" class="img-fluid" alt="...">
            </div>
              <div class="col">
             <img src="/img/img_003.png" class="img-fluid" alt="...">
            </div>
           </div>
          </div>
      </blockquote>
      <figcaption class="blockquote-footer">
        Кто владеет информацией <cite title="Source Title">владеет миром</cite>
      </figcaption>
    </figure>
{% endblock %}