{% extends "base.html" %}
{% block title %}
       <div class="m-2">
        <h5>  </h5>
    </div>
{% endblock %}

{% block content %}
     <div class="list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-3">Описание проекта</h6>
      <small></small>
    </div>
        <p class="mb-1">- Проект построен на принципе галереи изображений, к каждому изображению можно добавить обработку</p>
      <p class="mb-1">- Обработка - это фильтр, который применяется к изображению (по проекту фильтр "японский кроссворд")</p>
      <p class="mb-1">- Все обработки сохраняются в базе данных и привязаны к пользователю</p>
      <p class="mb-1">- Каждую обработку в стиле японский кроссворд можно решить как кроссворд</p>
      <p class="mb-1">- Параметры обработки можно менять в текущем окне</p>
      <p class="mb-1">- Для обработки написана библиотека, которая используется в проекте. На вход подаются параметры,
  на выход: картинка с фильтром, значения результата обработки.</p>
    <small></small>
  </a>

  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-3">Параметры обработки</h6>
      <small class="text-muted"></small>
    </div>
          <p class="mb-1">- Название - имя обработки</p>
      <p class="mb-1">- Размер ячейки - ширина ячейки японского кроссворда в пикселях</p>
      <p class="mb-1">- Цветовой порог - значение от 0 до 255 с которого цвет заменяется на черный</p>
      <p class="mb-1">- Ширина изображения - ширина результирующего изображения</p>
      <p class="mb-1">- Сложность - % закрашенных ячеек на старте сложность 0, значит все ячейки закрашены</p>
      <p class="mb-1">- Избранное - обработка появится в разделе "избранное"</p>
    <small class="text-muted"></small>
  </a>

  <a  class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-3">Как пользоваться</h6>
      <small class="text-muted"></small>
    </div>
    <p class="mb-1">- Зарегистрироваться или войти на сайт, чтобы получить доступ к функционалу</p>
    <p class="mb-1">- Загрузить любое черно-белое изображение, рисунок</p>
    <p class="mb-1">- Добавить к изображению обработку, выбрать параметры, предварительно посмотреть и сохранить</p>
    <p class="mb-1">- Перейти к решению кроссоврда</p>
    <small class="text-muted"></small>
  </a>

</div>
{% endblock %}
