{% extends "base.html" %}
{% block title %}
    <div class="m-2">
         <a href="/" class="button"><span class="badge bg-secondary">К моим рисункам </span></a>
         <a href="/picpart/delete/{{object.pk}}/" class="button"><span class="badge bg-secondary">Удалить</span></a>
         <a href="/picpart/edit/{{object.pk}}/" class="button"><span class="badge bg-secondary">Изменить </span></a>
    </div>
{% endblock %}

{% block content %}


<div class="container w-100">
     <div class="row">

  <div class="col-md-6 col-lg-3">

      <div class="wrapper border-0 border-secondary exmp1">
        <a href="/picpart/preview/create/{{object.pk}}/">
           <img src="{{object.content.url}}" width="200px">
        </a>
      </div>

       <div class="container">
                 <ul class="list-inline">
                     <a href="/picpart/preview/create/{{object.pk}}/" class="button"><span class="badge bg-dark">Создать</span></a>
                </ul>
       </div>

    </div>


         {% for pictupd in object.pictureupgrade_set.all %}
              <div class="col-md-6 col-lg-3">

             {% if pictupd.favorite %}
                <div class="wrapper_like border-2 exmp1 m-3">
             {% else %}
                <div class="wrapper border-1 exmp1  m-3">
              {% endif %}

               <a href="/picpart/preview_picture/{{ pictupd.pk }}">
                  <img src="{{ pictupd.content.url }}" alt="">
               </a>
             </div>

             <div class="container">
                 <ul class="list-inline">
                  <li class="list-inline-item" style="..."><a href="/picpart/preview_picture/{{ pictupd.pk }}" class="button"><span class="badge bg-success">Правка</span></a></li>
                  <li class="list-inline-item" style="..."><a href="/picpart/action/{{ pictupd.pk }}" class="button"><span class="badge bg-secondary">Решать</span></a></li>
                  <li class="list-inline-item" style="color:#827575"> Ячейка: {{pictupd.size_part}}</li>
                  <li class="list-inline-item" style="color:#827575"> Сложность: {{pictupd.hard}}</li>
                  <li class="list-inline-item" style="color:#827575"> Ширина: {{pictupd.width}}</li>
                  <li class="list-inline-item" style="color:#827575"> Порог: {{pictupd.color_limit}}</li>

                </ul>
            </div>


          </div>
         {% endfor %}
    </div>
    </div>
{% endblock %}

