{% extends "base.html" %}
{% block title %}
{#    <h5>Главная</h5>#}
{% endblock %}

{% block content %}

   {% for item in object_list %}
       <img class="img-thumbnail" width="150px" height="150px" src="{{item.content.url}}" alt="">
       <a href="/picpart/{{ item.pk }}"><div>{{item.name}}</div></a>
   {% endfor %}

    {#        <form method="post">#}
    {#            {% csrf_token %}#}
    {#            <button class="btn btn-primary" type="submit"> Сохранить </button>#}
    {#        </form>#}

{% endblock %}

